/* Table Container */
.table-container {
  max-width: 1200px;
  margin: 80px auto 0 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  height: 100%;
}
.table-container .fields{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.table-container .fields .label{
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 8px;
    text-align: center;
}
.table-container .fields header{
  width: 200px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.table-container .fields .field{
  width: 200px;
}
.aewsome-input {
  width: 200px;
  height: 40px;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #3b3b3b;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.aewsome-input:focus {
  border-color: #3a3a3a;
  box-shadow: 0 0 8px #3a3a3a;
}

.aewsome-input::placeholder {
  color: #999;
}

/* Optional: Add hover effect */
.awesome-input:hover {
  border-color: #3a3a3a;
}
/* Table Heading */
.table-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

/* Table Wrapper for Horizontal Scroll */
.table-wrapper {
  overflow-x: auto; /* Enable horizontal scrolling */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Table Styling */
.awesome-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  min-width: 600px; /* Minimum width to ensure table doesn't shrink too much */
}

/* Table Header */
.awesome-table thead {
  background-color:#3a3a3a;
  color: #fff;
}

.awesome-table th {
  padding: 15px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

/* Table Body */
.awesome-table tbody tr {
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
  text-align: center;
}

.awesome-table tbody tr:hover {
  background-color: #f1f1f1;
}

.awesome-table td {
  padding: 15px;
  font-size: 14px;
  color: #555;
}

/* Status Badge */
.status-badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.status-badge.active {
  background-color: #28a745;
  color: #fff;
}

.status-badge.inactive {
  background-color: #dc3545;
  color: #fff;
}
/* Pagination Styles */
.pagination {
  margin: 15px;
}
@media all and (max-width: 767px) {
  .table-container{
    width: 500px;
  }
}
@media all and (min-width: 767px) {
  .table-container{
    width: 800px;
  }
  
}
@media all and (min-width: 1200px) {
  .table-container{
    width: 1600px;
  }
  
}